<h1>Expenses#index</h1>
<p>Find me in app/views/expenses/index.html.erb</p>

<%= render 'form'%>

<table>
    <tr>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    <tr>
        <% if  expense.any? %>
        <% for @expenses.each do |expense| %>
        <td><%=expense.amount%></td>
        <td><%=expense.description%></td>
        <% end %>
    <% else %>
        <h3>No expenses today!!</h3>
        <% end %>

    </tr>
</table>
