<!-- The overlay -->
<div id="myNav" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Graph', root_path %></li>
      <li><%= link_to 'Loans', root_path %></li>
      <li><%= link_to 'Debts', root_path %></li>
    </div>
</div>
<!-- Use any element to open/show the overlay navigation menu -->
<span onclick="openNav()">
    <i class="fa fa-bars fa-5x" aria-hidden="true"></i>
    <!-- <button type="button" class="btn btn-default" aria-label="Left Align"> -->
    <!-- <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> -->
    <!-- </button> -->
</span>
